@use '../color/colors' as *;
@use '../font/font' as *;
@use '../mixins/mixin' as *;

/* centering */
%centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main buttons style */
%main-button{
    @include transition(all , 0.5s);
    @include border-radius(3px);
    padding: 8px 20px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    border: none;
    a{
        color: white;
    }
    font : {
        size : 16px;
        weight : 500;
    }
}

/* Colored buttons style */
%button-colored{
    @extend %main-button;
    background-color: $main-color;
    border: 2px solid $main-color;

    &:hover{
        background-color: transparent;
        border: 2px solid white;
    }
}


/* Transparent buttons style */
%button-transparent{
    @extend %main-button;
    background-color: transparent;
    border: 2px solid white;
    &:hover{
        background-color: $main-color;
        border: 2px solid $main-color;

    }
}


/* Background Image Style */
%background-image{
    background: {
        attachment: fixed;
        size: cover;
        position: center center;
    };
  position: relative;
}

/* Overlay Style */
%overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


%shadow{
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;
}

%person-info{
    h4{
        color: $main-color;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 0;
    }
}